.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
}

.nav-links {
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #912828;
}

.nav-links li {
  float: left;
}

.nav-links li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links li a:hover {
  background-color: #691010;
}

.nav-links .active {
  background-color: #370909;
}

.about-section {
  width:1000px;
  margin:auto;
}